.main {
  padding-bottom: 80px;

  &__container {
    display: flex;
  }

  &__content {
    flex: 0 1 50%;
    align-self: flex-end;
    padding-top: 120px;
    padding-bottom: 60px;
    padding-right: 20px;
  }

  &__title {
    font-family: CalSans;
    color: #121212;
    font-size: 56px;
    line-height: 1.2;

    & span {
      color: #ff6428;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    line-height: 24px;
    font-weight: 500;
    max-width: 420px;

    &:not(:last-child) {
      margin-bottom: 31px;
    }
  }

  &__decor {
    flex: 0 1 50%;
  }

  &__image {
    /* display: inline-block; */
    position: relative;
    margin-right: -135px;
    max-width: 672px;
    padding-bottom: 97.6%;

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      border-radius: 0 0 160px 375px;
    }

    &::after {
      content: "";
      background: url("../img/main/decor.svg") 0 0 no-repeat;
      width: 80px;
      height: 80px;
      right: 36.3%;
      bottom: 0;
      transform: translate(0, 50%);
      position: absolute;
    }
  }
}

.actions-main {
  display: flex;
  align-items: center;

  &__button {
    text-align: center;
    padding: 18.5px 48px;
    background-color: #ff6428;
    border-radius: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 28px;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #ba4619;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__icon:not(:last-child) {
    margin-right: 27px;
  }
}
