.store {
  padding-top: 80px;
  padding-bottom: 90px;

  &__title {
    margin-bottom: 86px;
  }
}

.body-store {
  &__header {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__title {
    letter-spacing: 0.08em;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #121212;
    font-weight: 600;
  }

  &__all {
    color: #868686;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 54px;
  }
}

.item {
  display: grid;

  &__image {
    text-align: center;

    & img {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__title {
    color: #121212;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    justify-self: start;

    &:not(:last-child) {
      margin-bottom: 7px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__price {
    font-size: 14px;
    line-height: 21px;
  }
}
