@media (max-width: 1230px) {
  .categories__items {
    column-gap: 40px;
  }

  .reviews__swiper.swiper {
    margin-left: -15px;
  }
}

@media (max-width: 1092px) {
  .header__container {
    gap: 50px;
    min-height: 100px;
  }

  .menu__list {
    column-gap: 40px;
  }

  .main {
    &__image img {
      width: 100%;
    }

    &__content {
      flex: 0 0 60%;
      padding-bottom: 0;
    }

    &__decor {
      flex: 0 0 40%;
    }
  }
}

@media (max-width: 991.98px) {
  .main {
    padding-bottom: 50px;
  }

  .store {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 50px;
    }
  }

  .body-store__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .categories {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 50px;
    }
    &__items {
      column-gap: 30px;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .brands {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 40px;
    }
    &__items {
      row-gap: 50px;
      grid-template-columns: repeat(3, auto);
    }
  }

  .why {
    padding-top: 50px;
    padding-bottom: 50px;

    &__items {
      grid-template-columns: repeat(2, auto);
    }
  }

  .reviews {
    padding-top: 80px;
    padding-bottom: 80px;

    &__title {
      margin-bottom: 50px;
    }
  }

  .slide-swiper-reviews {
    &__body {
      padding-left: 15px;
    }

    & {
      flex-direction: column;
    }

    &__picture {
      margin-bottom: 25px;
    }
  }

  .swiper-reviews__pagination.swiper-pagination {
    position: relative;
    bottom: 0;
    justify-content: center;
    transform: translate(0px, 0px);
    padding-top: 35px;
  }

  .favorite {
    padding-bottom: 50px;

    &__container {
      flex-direction: column;
    }
    &__title {
      font-size: 38px;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .body-footer {
    flex-wrap: wrap;
    justify-content: space-between;

    &__column:first-child {
      flex: 1 1 100%;
    }

    &__column_full {
      flex: 0 1 50%;
    }
  }

  .menu-footer {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 65px;
  }

  .main {
    padding-bottom: 30px;

    &__content {
      flex: 1 1 100%;
      padding-right: 0;
      padding-top: 80px;
    }

    &__decor {
      display: none;
    }

    &__title {
      font-size: 44px;
    }
  }

  .title {
    font-size: 38px;
  }

  .store {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      margin-bottom: 20px;
    }
  }

  .item__image:not(:last-child) {
    margin-bottom: 20px;
  }

  .categories {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      margin-bottom: 20px;
    }
  }

  .brands {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      margin-bottom: 20px;
    }
  }

  .item-why {
    padding: 20px;
  }
  .why__items {
    justify-content: stretch;
    grid-template-columns: repeat(1, auto);
  }

  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      margin-bottom: 30px;
    }
  }

  .favorite {
    padding-bottom: 30px;
  }

  .footer__copy {
    padding-top: 50px;
  }
}

@media (max-width: 600px) {
  .brands__items {
    row-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 560px) {
  .body-store__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 479.98px) {
  .header {
    &__container {
      gap: 15px;
    }

    &__logo {
      width: 28px;
      flex: 0 0 28px;
      overflow: hidden;
    }
  }

  .menu {
    padding: 0;
    &__list {
      column-gap: 20px;
    }
  }

  .actions-main {
    flex-wrap: wrap;
    justify-content: center;

    &__button {
      flex: 1 1 100%;

      &:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 15px;
      }
    }
  }

  .categories__items {
    row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .slide-swiper-review {
    &__image {
      width: 270px;
      height: 270px;

      &::before {
        content: "";
        position: absolute;
        width: 225px;
        height: 187px;
        top: 50px;
        left: -40px;
        transform: rotate(-7deg);
        background-color: #ff6428;
        border-radius: 40px 0px 400px 400px;
      }
    }

    &__text {
      font-size: 18px;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}
