@media (max-width: 1230px) {
  .categories__items {
    column-gap: 40px;
  }
}

@media (max-width: 1092px) {
  .header__container {
    gap: 50px;
    min-height: 100px;
  }

  .menu__list {
    column-gap: 40px;
  }

  .main {
    &__image img {
      width: 100%;
    }

    &__content {
      flex: 0 0 60%;
      padding-bottom: 0;
    }

    &__decor {
      flex: 0 0 40%;
    }
  }
}

@media (max-width: 991.98px) {
  .main {
    padding-bottom: 50px;
  }

  .store {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 50px;
    }
  }

  .body-store__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .categories {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 50px;
    }
    &__items {
      column-gap: 30px;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .brands {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 40px;
    }
    &__items {
      row-gap: 50px;
      grid-template-columns: repeat(3, auto);
    }
  }
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 65px;
  }

  .main {
    padding-bottom: 30px;

    &__content {
      flex: 1 1 100%;
      padding-right: 0;
      padding-top: 80px;
    }

    &__decor {
      display: none;
    }

    &__title {
      font-size: 44px;
    }
  }

  .title {
    font-size: 38px;
  }

  .store {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      margin-bottom: 20px;
    }
  }

  .item__image:not(:last-child) {
    margin-bottom: 20px;
  }

  .categories {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      margin-bottom: 20px;
    }
  }

  .brands {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 600px) {
  .brands__items {
    row-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 560px) {
  .body-store__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 479.98px) {
  .header {
    &__container {
      gap: 15px;
    }

    &__logo {
      width: 28px;
      flex: 0 0 28px;
      overflow: hidden;
    }
  }

  .menu {
    padding: 0;
    &__list {
      column-gap: 20px;
    }
  }

  .actions-main {
    flex-wrap: wrap;
    justify-content: center;

    &__button {
      flex: 1 1 100%;

      &:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 15px;
      }
    }
  }

  .categories__items {
    row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}
